@mixin keypad-btn {
    border-radius: 30%;
    text-align: center;
    padding-top: 1.5rem;
    font-size: $font-size;
    font-weight: bold;
    background-color: #e9f0f4;
    color: #2f343c;
    transition: all 0.2s ease-out;

    &:hover {
        cursor: pointer;
        padding-top: 1.2rem;
        font-size: $font-size + 0.5;
        color: red;
        background-color: #f8eced;
        box-shadow: 1px 1px 5px rgb(250, 224, 224);

        @include desktop {
            padding-top: 1.5rem;
        }
    }

    &:nth-child(8),
    &:nth-child(12),
    &:nth-child(16),
    &:nth-child(20) {
        color: white;
        background-color: #ff9500;

        &:hover {
            cursor: pointer;
            color: #ff9500;
            background-color: white;
        }
    }

    &:last-child {
        color: white;
        background-color: #2ec973;
        &:hover {
            cursor: pointer;
            color: #2ec973;
            background-color: white;
        }
    }
}
