@import "defaults";
@import "breakpoints";
@import "mixin";
@import "variables";

.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    margin: auto;
    box-sizing: border-box;
    border-radius: 15px;

    @include desktop {
        height: 100vh;
        align-content: center;
        justify-content: center;
    }

    .header {
        font-size: $headerFont;
        letter-spacing: 0.2rem;
        text-align: center;
        text-transform: uppercase;
        background-image: linear-gradient(left, rgb(245, 154, 154), rgb(145, 245, 200));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;

        @include desktop {
            margin-bottom: 2em;
        }
    }

    .main-keypad {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // background-color: #2d323a; use for dark theme

        .result-screen {
            height: 25vh;
            width: 99%;

            display: flex;
            justify-content: center;
            align-items: center;
            // color: gainsboro; use this for  highlighted text

            @include large-mobile {
                width: 86%;
            }
            @include tablet {
                width: 42%;
            }
            @include small-laptop {
                width: 31.5%;
            }

            @include large-laptop {
                width: 22.4%;
            }
            @include desktop {
                width: 15%;
                height: 30vh;
            }
            input {
                font-size: $subHeaderFont + 1.8;
                color: #2d323a;
                font-weight: 600;
                width: 90%;
                height: 22vh;
                border-radius: 5px;
                background: transparent;
                border: none;
                text-align: right;
                padding-top: 1rem;
                padding-right: 1rem;
            }
        }

        .keypad {
            padding: 1.7rem;
            display: grid;
            grid-template-columns: repeat(4, 5rem);
            grid-template-rows: repeat(6, 5rem);
            gap: 1rem;
            justify-content: center;

            @include desktop {
                grid-template-columns: repeat(4, 6rem);
                grid-template-rows: repeat(6, 6rem);
            }

            .keys {
                @include keypad-btn;
            }
        }
    }
}
